input[type="search"]{
    border: solid 1px black;
}
#tableauUtilisateursAdmin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#tableauUtilisateursAdmin th{
    display: none;
}
#tableauUtilisateursAdmin div{
    border: 2px solid black;
}
.spaceCount{
    color: red;
    background: blue;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
table tr:nth-child(odd){
    background-color:rgb(106, 103, 103);
}
table, td, tr, th{
    border-collapse: collapse;
}
#tableauUtilisateursAdmin img{
    width: 20px;
    height: 20px;
}
