input[type="search"]{
    border: solid 1px black;
}

#tableauUtilisateursAdmin div{
    border: 2px solid black;
}
.spaceCount{
    color: red;
    background: blue;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
table tr:nth-child(odd){
    background-color:rgb(180, 177, 177);
}
table, td, tr, th{
    border-collapse: collapse;
}
#tableauUtilisateursAdmin img{
    width: 20px;
    height: 20px;
}
table{
    margin: auto;
    width: 90%;

}
td,th,tr{
    height: 40px;
    min-width: 10 0px;

}

tbody{
    margin: auto;

}
td{
    text-align: center;
    padding: 0 10px;


}
tr td:nth-child(0n+1){
    overflow-x: scroll;
    max-width: 200px;
    
}
.titreTaux{
    text-align: center;
    margin-bottom: 20px;
}
@media screen and (min-width:904px){

    tr td:nth-child(0n+1){
        overflow-x:initial;

    }



    
}