*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Futura;
    /* border: 1px solid red; */
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
}


.error, .success{
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin: 5px 0 10px 0;
}
.error{
    background: var(--backgroundError);
    border: var(--backgroundErrorBorder);
}
.success{
    background: var(--backgroundSuccess);
    border: var(--backgroundSuccessBorder);
}


header{
    display: flex;
    justify-content: space-between;
    margin: 30px 6px 40px 6px;
}
.logoHarvana{
    max-width: 200px;
}
.texteDescription{
    margin: 30px 0;
}

#container{
    padding:20px;
    /* background: #F5F5DC; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.big{
    font-size: large;
}
li{
    list-style: none;
}
li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.off{
    display: none;
}
.hide .logoHarvana{
    transition: 0.5s;
    position: absolute;
    left: 70px;
    top: 10px;
}
.hide{
    display: flex;
    position: fixed;
    padding-top: 25px;
    right: 0;
    top: 0px;
    height: 60vh;
    z-index: 1;

    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.43);

    transform: translateX(50%);/* On indique ici que notre menu va translater de la droite vers la gauche, d'une distance équivalante à 50% de l'écran*/
    animation: apparition .6s ease-in-out forwards;/*On utilise animation pour créer une animation que l'on nomme apparition, le temps de l'animation va durer 0.6s, être rapide au début et lent à la fin*/
    /*forwards sert à faire en sorte que à la fin de l'animation le menu hamburger reste fixe*/
    opacity: 0;/* Opacity 0 pour que notre éléments soit invisible au début puis apparaît progressivement grâce au keyframes*/
}
/* Nous sert à créer l'animation d'apparition du menu nav sur la version mobile */
@keyframes apparition { /*Permet de déclarer un ensemble d'étape clée pour l'animation apparition*/
    100%{/*Cela indique que les styles spécifiés à l'intérieur des accolades suivantes s'appliqueront lorsque l'animation atteindra 100% de sa progression. En d'autres termes, à la fin de l'animation.*/
        opacity: 1;/*Pour que l'élément soit visible à la fin */
        transform:none;  /*Cela réinitialise toute transformation appliquée à l'élément*/  
    }
}
.menuHamburger{
    width: 30px;
    height: 30px;
    position: fixed ;
    right: 34px;
    top: 43px;
    z-index: 2;
    border-radius: 10px;
}
.menuHamburger div{
    border: solid black 1px;
    width: 70%;
    margin: 31% 15% 0;
}
/*On donne une position finale aux 2 barres du menu hamburger */
.croix{
    position: absolute;
    top: 3px;
    transition: 0.5s;

}
.angleBarre1{
    transform: rotate(45deg);

}
.angleBarre2{
    transform: rotate(-45deg);
}


header nav ul{
    padding: 0 20px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.logo-reseaux ul{
    display: flex;
    flex-direction: row;
    width: 320px;
}
.logo-reseaux ul li{
    background: black;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoReseaux img{
    width: 36px;
    height: 36px;
}
.shadowLogo{
    filter: drop-shadow(0 0 0.75rem rgb(245, 241, 242));
}
@media  screen and (min-width:478px) {
    @keyframes logoUpdate { /*Permet de déclarer un ensemble d'étape clée pour l'animation apparition*/
        from{
            max-width: 200px;
        }
        to{
            max-width: 250px;
        }
    }
    .logoHarvana{
        animation: logoUpdate .5s ease-in-out forwards;
    }
    .hide .logoHarvana{
        animation: logoUpdate .5s ease-in-out forwards;
        position: absolute;
        left: 30px;
        top: 10px;
    }
}