.invest{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    margin: auto;
}
h1{
    font-weight: bold;
}
.button{
    border-radius: 30px;
    font-family: Futura-Black;
    padding: 5px;
    height: 40px;
    border: none;
}
button a{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.black{
    background: black;
    color: white;
}
.gray{
    background: #EDEDED;
    margin-left: 10px;
}
.gray a{
    color: black;
}
.black a{
    color: #EDEDED;
}
h2{
    margin-top: 100px;
    font-weight: bold;
}
section ul{
    justify-content: center;
}
.card{
    width: 160px;
    height: 200px;
    box-shadow: 3px 2px 6px #EDEDED;
    border-radius: 3px;
    margin-top: 20px;
}
.card p{
    color: #6B6B6B;
    /* text-align: start; */
}
p{
    /* margin: 10px; */
    text-align: start
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 18px;
}
h3{
    text-align: center;
}