h1{
    font-weight: bold;
}
.button{
    border-radius: 30px;
    font-family: Futura-Black;
    padding: 5px;
    height: 40px;
    border: none;
}
button a{
    padding-left: 5px;
    padding-right: 5px;
}
button .black{
    background: black;
    color: white;
}
button .gray{
    background: #EDEDED;
    color: black;
}
h2{
    margin-top: 140px;
    font-weight: bold;
}
.card{
    width: 160px;
    height: 200px;
    box-shadow: 3px 2px 4px #EDEDED;
    border-radius: 3px;
}
.card p{
    color: #6B6B6B;
    text-align: start;
}
p{
    margin: 10px;
    text-align: justify;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}