:root{
    --backgroundError : rgb(216, 15, 15) ; 
    --backgroundErrorBorder : rgb(216, 15, 15) ; 
    --backgroundSuccess : rgb(7, 255, 32) ; 
    --backgroundSuccessBorder :3px solid var rgb(77, 255, 7) ; 
}